services:
  dynamodb-local:
    image: amazon/dynamodb-local:latest
    container_name: dynamodb-local
    ports:
      - "8000:8000"
    command: "-jar DynamoDBLocal.jar -sharedDb -inMemory"
    restart: unless-stopped

  aws-cli:
    image: amazon/aws-cli:latest
    container_name: aws-cli
    depends_on:
      - dynamodb-local
    entrypoint: ["sh", "-c", "sleep infinity"]
